.publications {
  min-height: 250px;
  width: 90%;
  background-color: rgb(252, 252, 252);
  // margin: 0 auto;
  font-family: sans-serif;
  display: flex;
  justify-content: flex-start;

  &__header {
    padding: 1rem 1rem 0rem 0.5rem;
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 500;
  }

  &__linkWrapper {
    padding: 1rem;
  }
  &__link {
    color: rgb(9, 136, 209);
    text-decoration: none;
  }
}

.articleEntry {
  margin-right: 2rem;
  width: 400px;
  min-height: 300px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: sans-serif;
  background-color: rgb(81, 53, 207);
  color: white;

  & img {
    border-radius: 50%;
  }
}
