@import "./../../../../scss/mixins/flex.scss";

.entityFilter {
  //   width: 350px;
  padding: 1rem;
  background-color: rgb(252, 252, 252);
  position: absolute;
  top: 2rem;
  left: 50%;
  border: 1px solid rgb(112, 112, 112);

  &__header {
    color: rgb(114, 114, 114);
    padding: 0.5rem 0;
  }
  &__filters {
    padding: 0.6rem;
  }

  &__condition {
    margin: 0.7rem 0;
    @include flex(flex-start, row);

    &__input {
      background-color: rgb(206, 206, 206);
      color: rgb(59, 59, 59);
      margin-right: 0.5rem;
    }
  }
  &__condition p {
    margin-right: 1.2rem;
    color: rgb(20, 20, 20);
    @include flex(space-between, row);
  }
  &__condition .fas {
    margin-left: 0.5rem;
  }

  &__controls {
    margin: 1rem 0;
    @include flex(flex-start, row);

    &__addCondition,
    &__chooseProperty {
      color: rgb(30, 81, 252);
      @include flex(space-between, row);
      margin-right: 1.2rem;
    }
  }
}
