.workspace {
  width: 100%;
  // min-height: 100px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__header {
    border: 1px solid rgb(194, 194, 194);
    background: white;
    width: 100%;
    margin: 0 1rem;

    &__img {
      width: 56px;
    }

    &__background {
      max-width: 100%;
    }
    &__contentWrapper {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    &__content {
      position: relative;
      padding: 1rem;
    }

    & h2 {
      font-size: 1.3rem;
      font-weight: 700;
      margin: 1rem 0;
    }
    & p {
      font-size: 1rem;
      font-weight: 500;
      padding: 1rem 0;
      color: rgb(65, 65, 65);
    }
  }

  &__actions {
    padding: 1rem;
    background-color: rgb(231, 231, 231);
    border: 1px solid rgb(209, 209, 209);
    margin-top: 1rem;
    &__header {
      font-size: 1rem;
      color: rgb(112, 112, 112);
    }
  }
  &__actionsWrapper {
    display: flex;
    // align-items: center;
    justify-content: space-evenly;
    margin: 1.3rem 0;
  }

  &__action {
    padding: 1rem;
    margin: 0.3rem 1rem;
    background-color: white;
    border: 1px solid rgb(173, 173, 173);
    width: 350px;
    // min-height: 230px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    &__img {
      max-width: 35px;
      margin-left: 1rem;
    }
    &__header {
      font-size: 1.4rem;
      margin: 1rem 0;
    }
    &__text {
      font-size: 0.9rem;
      color: rgb(65, 65, 65);
      line-height: 1.4;
    }
  }
}

.fa-cog {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}

.bold {
  font-weight: 700;
}
